%h1.text-center= pluralize(@events.count, "Result")
.container
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link(@query, :title, "Title", default_order: :asc)
        %th= sort_link(@query, :description, "Description")
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.title, event
          %td= event.description.truncate_words(25)

