= @user.email
= simple_form_for @user do |f|
  = f.collection_check_boxes(:role_ids, Role.where(resource_type: nil), :id, :name)
  = @user.errors[:roles]
  = f.submit "Submit", class: 'btn btn-primary float-right'


