- if current_user&.admin or current_user&.has_role? :moderator
  .row.justify-content-center
    .col-md-6
      .card.my-4
        .card-body
          %h1 Moderator MODE
          %ul.list-unstyled.mb-2
            %li
              %a
                = link_to "New Event", new_event_path
            %li
              %a
                = link_to "Users", users_path
            %li
              %a
                = link_to "Tags", tags_path

%main
  %section.section.tags-section
    %h2.heading.mb-250.page-width All Events
    .oveflow-scroll.no-scrollbar
      .page-width
        %ul.oveflow-visible.no-scrollbar.custom-list.flex.justify-start.items-center.gap-100.tags-wrapper
          %li.block
            %a.category-tag{:href => "/events"}
              .category-tag__media
                = image_tag("tag-family.jpg")
              .category-tag__overlay.p-50
                %strong Clear All filtering
          %li.block
            %a.category-tag{:href => "/events?tag=#{@tags[0].name.to_s}"}
              .category-tag__media
                - if @tags[0].avatar.attached?
                  = image_tag @tags[0].avatar
              .category-tag__overlay.p-50
                %strong #{ @tags[0].name }
          %li.block
            %a.category-tag{:href => "/events?tag=#{@tags[1].name.to_s}"}
              .category-tag__media
                - if @tags[1].avatar.attached?
                  = image_tag @tags[1].avatar
              .category-tag__overlay.p-50
                %strong #{ @tags[1].name }
          %li.block
            %a.category-tag{:href => "/events?tag=#{@tags[2].name.to_s}"}
              .category-tag__media
                - if @tags[2].avatar.attached?
                  = image_tag @tags[2].avatar
              .category-tag__overlay.p-50
                %strong #{ @tags[2].name }
          %li.block
            %a.category-tag{:href => "/events?tag=#{@tags[3].name.to_s}"}
              .category-tag__media
                - if @tags[3].avatar.attached?
                  = image_tag @tags[3].avatar
              .category-tag__overlay.p-50
                %strong #{ @tags[3].name }
  %section.section.product-grid-section.page-width
    %h2.heading.mb-250 Filtered Results
    %ul.product-grid.custom-list
      -unless @events[0].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[0].avatar.attached?
              = image_tag @events[0].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[0].title
              %span.product-duration #{(@events[0].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[0].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[0].price_cents} #{@events[0].currency}
              %a.button{href: "/events/#{@events[0].id}"} Read More
      -unless @events[1].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[1].avatar.attached?
              = image_tag @events[1].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[1].title
              %span.product-duration #{(@events[1].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[1].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[1].price_cents} #{@events[1].currency}
              %a.button{href: "/events/#{@events[1].id}"} Read More
      -unless @events[2].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[2].avatar.attached?
              = image_tag @events[2].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[2].title
              %span.product-duration #{(@events[2].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[2].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[2].price_cents} #{@events[2].currency}
              %a.button{href: "/events/#{@events[2].id}"} Read More
      -unless @events[3].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[3].avatar.attached?
              = image_tag @events[3].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[3].title
              %span.product-duration #{(@events[3].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[3].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[3].price_cents} #{@events[3].currency}
              %a.button{href: "/events/#{@events[3].id}"} Read More
      -unless @events[4].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[4].avatar.attached?
              = image_tag @events[4].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[4].title
              %span.product-duration #{(@events[4].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[4].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[4].price_cents} #{@events[4].currency}
              %a.button{href: "/events/#{@events[4].id}"} Read More
      -unless @events[5].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @events[5].avatar.attached?
              = image_tag @events[5].avatar
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @events[5].title
              %span.product-duration #{(@events[5].duration/60)} min
            %p.product-description.mb-200
              = truncate(@events[5].description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price #{@events[5].price_cents} #{@events[5].currency}
              %a.button{href: "/events/#{@events[5].id}"} Read More
    %section.section
      = paginate @events, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered"
- if current_user&.has_role?(:manager) || current_user&.admin
  %table.table
    %thead
      %tr
        %th Title
        %th SalesCount
        %th UsersEntered
        %th Event entry tickets
        %th Fraud Attempts
        %th Fraud Tickets
        %th Who changed the event info
    %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.sales_count
        %td= event.tickets.where(status: "scanned").count
        %td= event.event_entry_tickets
        %td= @fraud_tries[event.id]
        %td= event.tickets.where("fraud_attempts >= 1").count
        %td= event.moderators.distinct.pluck(:email)
