%main
  %section.section.product-grid-section.page-width
    %h2.heading.mb-250 Filtered Results
    %ul.product-grid.custom-list
      -unless @tickets[0].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[0].event.avatar.attached?
              = image_tag @tickets[0].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[0].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[0].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[0].price/100.to_f} #{@tickets[0].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[0].id}"} Read More
      -unless @tickets[1].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[1].event.avatar.attached?
              = image_tag @tickets[1].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[1].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[1].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[1].price/100.to_f} #{@tickets[1].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[1].id}"} Read More
      -unless @tickets[2].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[2].event.avatar.attached?
              = image_tag @tickets[2].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[2].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[2].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[2].price/100.to_f} #{@tickets[2].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[2].id}"} Read More
      -unless @tickets[3].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[3].event.avatar.attached?
              = image_tag @tickets[3].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[3].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[3].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[3].price/100.to_f} #{@tickets[3].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[3].id}"} Read More
      -unless @tickets[4].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[4].event.avatar.attached?
              = image_tag @tickets[4].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[4].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[4].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[4].price/100.to_f} #{@tickets[4].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[4].id}"} Read More
      -unless @tickets[5].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[5].event.avatar.attached?
              = image_tag @tickets[5].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[5].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[5].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[5].price/100.to_f} #{@tickets[5].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[5].id}"} Read More
      -unless @tickets[6].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[6].event.avatar.attached?
              = image_tag @tickets[6].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[6].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[6].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[6].price/100.to_f} #{@tickets[6].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[6].id}"} Read More
      -unless @tickets[7].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[7].event.avatar.attached?
              = image_tag @tickets[7].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[7].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[7].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[7].price/100.to_f} #{@tickets[7].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[7].id}"} Read More
      -unless @tickets[8].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[8].event.avatar.attached?
              = image_tag @tickets[8].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[8].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[8].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[8].price/100.to_f} #{@tickets[8].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[8].id}"} Read More
      -unless @tickets[9].nil?
        %li.product-card
          .product-card__media.aspect-ratio--80.aspect-ratio.mb-200.br-100.overflow-hidden
            - if @tickets[9].event.avatar.attached?
              = image_tag @tickets[9].event.avatar
            - else
              = image_tag "login-art.jpg"
          %article.product-card__content
            .flex.justify-between.items-center.mb-200
              %h3.product-title
                = @tickets[9].order.title
              -#%span.product-duration #{(@tickets[0].event.duration/60)} min
            %p.product-description.mb-200
              = truncate(@tickets[9].event.description, length: 100)
            .flex.items-center.justify-between
              %strong.product-price  #{@tickets[9].price/100.to_f} #{@tickets[9].ticket_currency}
              %a.button{href: "/tickets/#{@tickets[9].id}"} Read More

