- if current_user.has_role?(:gatekeeper)
  - if @ticket.status == "available"
    %h1.text-center.p-3.mb-2.bg-success.text-white #{"Ticket is VALID"}
  - else
    %h1.text-center.p-3.mb-2.bg-danger.text-white #{"Ticket is INVALID"}
    = "Fraud Attempts:"
    = @ticket.fraud_attempts
.container-fluid.show-container
  .mt-5
  -if @ticket.status==("refunded")
    %h4.text-center This ticket is refunded
    %p.text-center
      %b.text-center Amount of promo-code:
      = (@ticket.promo_code.promo_code_amount)/100.to_f
      = @ticket.promo_code.promo_code_currency
    %p.text-center
      %b.text-center Your PromoCode is here:
      = @ticket.promo_code.uuid
      %hr
-#      %br
-#.ticket
-#  .ticket--start
-#    %img
-#  .ticket--center.shadow
-#    .ticket--center--row
-#      .ticket--center--col
-#        %span Your ticket for
-#        %strong
-#        = @ticket.order.title
-#      .ticket--center--col
-#        %span Price
-#        %strong
-#        = @ticket.price/100.to_f
-#        = @ticket.ticket_currency
-#    .ticket--center--row
-#      .ticket--center--col
-#        %span.ticket--info--title Duration
-#        %span.ticket--info--subtitle
-#          = @ticket.order.event.duration/60
-#          min
-#      .ticket--center--col
-#        %span.ticket--info--title Start Date
-#        %span.ticket--info--subtitle
-#          = @ticket.order.event.start_date
-#    .ticket--center--row
-#      .ticket--center--col
-#        %span.ticket--info--title Ticket info
-#        %span.ticket--info--subtitle
-#          Purchased time
-#          = @ticket.created_at
-#
-#      .ticket--center--col
-#        %span.ticket--info--subtitle
-#          %p
-#          -if @ticket.status == "available"
-#            = link_to "Download pdf", ticket_path(@ticket.id, format: :pdf), class:"btn-pdf"
-#  -if @ticket.qr_code.attached?
-#    .ticket--end
-#      %div
-#        = image_tag(@ticket.qr_code)
-#      %div
-#        %h1.bolt.text-white TicketSell
-#

%section.section.pdp-section
  %article.product.flex.flex--columns.flex--columns-even.page-width.justify-between
    .product__media.aspect-ratio
      - if @ticket.event.avatar.attached?
        = image_tag @ticket.event.avatar
      - else
        = image_tag "login-art.jpg"
    .product__content
      .flex.items-center.justify-between.mb-50
        %h1.fw-semibold.fs-700
          Your ticket:
          = @ticket.order.title
        %strong.fw-semibold.fs-600
          = @ticket.price/100.to_f
          = @ticket.ticket_currency
      .flex.items-center.mb-200
        %span.product-duration.mr-150
          %span
            = "#{@ticket.event.duration/60} min"
        %span.product-duration
          %span
            = @ticket.event.start_date.strftime("%d %B %Y")

      %p.product-desc.fs-300.lh-130
        = @ticket.event.description
      .product-cta.flex.mb-200
        -if @ticket.status == "available"
          = link_to "Download pdf", ticket_path(@ticket.id, format: :pdf), class:"button flex-grow"
      .qr-wrapper
        - if @ticket.qr_code.attached?
          = image_tag(@ticket.qr_code)