- if @ticket.qr_code.attached?
  = image_tag(@ticket.qr_code)

.container-fluid.show-container
  .container
    .text-center
      %h2 Your ticket
    .card-custom
      %img
      - if @ticket.event.avatar.attached?
        = image_tag @ticket.event.avatar, style: "width:100%"
      .container-card.mt-5
        -if @ticket.status==("refunded")
          %h4 This ticket is refunded
          %p
            %b Amount of promo-code:
            = (@ticket.promo_code.promo_code_amount)/100.to_f
            = @ticket.promo_code.promo_code_currency
          %p
            %b Your PromoCode is here:
            = @ticket.promo_code.uuid
            %hr
        %h4
          %b
            %strong
              = @ticket.order.title
        %p
          %strong Duration:
          = @ticket.order.event.duration/60
          min
        %p
          %strong Start Date:
          = @ticket.order.event.start_date
        %p
          %strong Amount paid:
          = @ticket.price/100.to_f
          = @ticket.ticket_currency

