- if current_user&.admin
  %h2 #{ link_to "new", new_tag_path }
  %cards.h1 Tags
  - @tags.each do |tag|
    %p
      = tag.name
    - if tag.avatar.attached?
      = image_tag tag.avatar, size: '25px'
    = link_to "Edit", edit_tag_path(tag)
    = link_to "Destroy", tag_path(tag), method: :delete, data: { confirm: "Are you sure?" }
    %hr
    %br



.col-md-9
  %h3 Tags:
  = raw @tags.map(&:name).map { |t| link_to t.to_s, events_path(tag: t.to_s) }.join(', ')

