%section.section.registration-section.flex.flex--columns.flex--columns-even-2
  .registration-section__media
    = image_tag("login-art.jpg")
  .flex-grow.flex.direction-column.items-center.justify-center.py-400
    %h1.heading.w-100.text-center.mb-400 Login
    %form.w-100.page-width.mb-300
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .input-wrapper.mb-400
        %label.fs-300.mb-50.fw-medium Email
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .input-wrapper.mb-400
        %label.fs-300.mb-50.fw-medium Password
        = f.password_field :password, autocomplete: "current-password"
      .btns-wrapper.flex.items-center.mb-400.mr-50
        = link_to "Google", omniauth_authorize_path(resource_name, resource_class.omniauth_providers.last), class:'button', method: :post
        = f.submit "Login", class:'button'
      %hr.border-b.opacity-25/
    %p.fw-medium
      %span.fs-200.mr-100 Already have an Account?
      %a.text-accent-3.fs-200.text-underline{:href=>'/users/sign_up'} Sign Up


